.body{
    
    background-image: url(../Day7/image/bg.jpg);
} 
.container {
    
    
    text-align: center;
    font-weight: bold;
    
   
    
}



.text-center h1{
    color: white;
    background-color: black;
    opacity: 0.8;
    margin-top: 30px;
}


.row{
    
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url(../Day7/image/bg.jpg);
    /* padding: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}