h1{
    background-color: aqua;
}
.red{
    background-color: red;
}
#green
{
    background-color: brown;
}
.clickme
{
    background-color: chartreuse;
    cursor: pointer;
    border-radius: 3px;
    border: none
    
}

