*{
    padding: 0;
    margin: 0;
    
   
}


.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    word-spacing: 4px;
}
.topbox{
    background-color:  rgb(49 46 129);
    padding-top: 5px;
    padding-bottom: 5px;
    
    
    
}
.topbox h3{
    margin-left: 50px;
    color: white;
    /* padding-top: 8px; */
    
    
}
.fab{
    background-color:rgb(49 46 129 ) ;
    color: white;
    margin-left: 1000px;
    
   /* padding-bottom: 20px; */
   
}

.nav{
    background-color:white;
    overflow: hidden;
   display: inline;
    position: sticky;
    z-index: 1000;
    top: 0;
   
}
.nav img{
    float: left;
}
.nav li{
    float: left;
    display: inline;
    color:rgb(59 130 246 );
    align-items: center;
    align-content: center;
    padding: 14px 16px;
    margin-top: 14px;
    text-decoration: none;
    
}
.nav button{
    margin-left: 800px;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.nav li:hover{
    background-color:white;
    color: black;
    
}
nav button:hover{
    background-color: white;
    color: orange;
}

.swiper {
    width: 1470px;
    height: 500px;
    align-content: center;
  }
  /* .swiper-slide button{
    z-index: 1000px;
  } */

 .text{
    margin-top: 30px;
    position: absolute;
    box-shadow: white 1px 4px, white 0px 0px 0px 3px;
     color: white;
     top: 400px;
     left: 600px;
    z-index: 1000;
 }



.first{
    display: grid;
    grid-template-columns:  1fr 6fr;
}
.image{
    margin-left: 50px;
    margin-top: 50px;
}
.whole{
    margin-top: 50px;
    padding-top: 100px;
}
 .whole h3{
  color: deepskyblue;  
  margin-left:100px ;
  font-size: 20px;

}
.whole h2{
    margin-left: 100px;

}
.whole p{
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
}
.whole button{
    margin-left: 100px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    border-color: orange;
    cursor: pointer;
    height: 50px;
    width: 100px;
    
}
.whole button:hover{
    background-color:white ;
    color:orange;
    
    border-width: 2px;
    border-color: orange;
}



.gallery{
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
}
.photos{
margin-left:5px;
margin-right: 16px;
}
.gallery button{
    background-color: rgb(242, 237, 237);
    border-radius: 9px;
    color: rgb(59 130 246 );
    margin-left: 40%;
   font-size: larger;
   font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    height: 50px;
}
.gallery button:hover{
    background-color: rgb(223, 223, 223) ;
}



.second{
    display: grid;
    grid-template-columns:  2fr 1fr;
}
.part{
    margin-top: 80px;
}

.part h3{
    color: deepskyblue;
    margin-left:100px ;
  font-size: 20px;
}
.part h2{
    margin-left: 100px;

}
.part p{
    margin-left: 100px;
    margin-right: 50px;
}
.part button{
    margin-left: 100px;
    margin-top: 20px;
    background-color: white;
    color: orange;
    border-color: orange;
    cursor: pointer;
    height: 50px;
    width: 100px;
}
.part button:hover{
    background-color:orange ;
    color:white;
    
    border-width: 2px;
    border-color: white;
}

.footer{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.foot1{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.foot2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.foot3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.foot3 button{
    background-color: orange;
    color: white;
    border-color: orange;
    cursor: pointer;
    height: 50px;
    width: 100px;
}
.foot3 button:hover{
    background-color: blueviolet;
    color: white;
    border-width: 2px;
    border-color: white;
}