.main{
background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0px;
    
    
}
.one{
    background-color: gray;
    
    
    
    border: solid blue;
    border-color: blue;
    border-width: 3px;

}
.two{
    background-color: azure;
    
    
   
    border: solid blue;
    border-color: blue;
    border-width: 3px;
}
.three{
    background-color: bisque;
    
    
    
    border: solid blue;
    border-color: blue;
    border-width: 3px;
}
.h1{
    text-align: center;
    background-color: blue;
    margin-bottom: 400px;
    margin-left: 50px;
    margin-right: 50px;

}
.h5{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}